.main {
  min-height: 968.7px;
  width: 100%;
  display: flex;
  gap: 48px;
  padding: 80px; 
  background-color: black;
}

@media (max-width:768px){
  .main{
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width:375px){
  .main{
    width: 100%;
    padding: 30px 15px;
  }
}

