.info {
  background-color: #141414;
  width: 376.22px;
  padding: 40px;
  box-shadow: 0px 21px 20px -19px rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}
.info__heading {
  font-size: 30px;
  color: #be6b22;
  font-weight: bold;
  margin-bottom: 16px;  
}
.info__itemWrapper {
  margin-bottom: 28px;
}

.info__item {
  color: #c28957;
  font-size: 20px;
  margin-bottom: 16px;
}
.info__description {
  font-size: 18px;
  color: white;
}
.info__description--gap {
  margin-bottom: 16px;
}
.info__iconWrapper {
  display: flex;
  align-items: center;
  color: var(--color-amber-800);
  gap: 25px;
}
.info__icon {
  font-size: 40px;
}

@media(max-width:768px){
  .info{
    width: 100%;
    max-width: 672.45px;
    z-index: 300;
  }
}

@media(max-width:375px){
  .info{
    width: 100%;
    max-width: 345px;
    padding: 30px 20px;
  }
  .info__heading {
    font-size: 26px;
  }
  .info__item {
    font-size: 18px;
  }
  .info__description {
    font-size: 16px;
  }
}

