.main {
  min-height: 968.7px;
  width: 100%;
  display: flex;
  gap: 48px;
  padding: 80px; 
  background-color: black;
}

@media (max-width:768px){
  .main{
    /* flex-wrap: wrap; */
    /* padding-top: 10px 0 0 0; */
    padding-top: 50px  ;
    width: 100%;
    display: flex;
    flex-direction: column;
align-items: center;    /* gap: 0px; */
  }
}