.main {
  min-height: 968.7px;
  width: 100%;
  display: flex;
  gap: 48px;
  padding: 80px; 
  background-color: black;
}

@media (max-width:768px){
  .main{
    padding-top: 50px  ;
    width: 100%;
    display: flex;
    flex-direction: column;
align-items: center;    
  }
}

@media (max-width:375px){
  .main{
 width: 100%;
 padding: 10px  ;

  }
}