.map {
  min-height: 628px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 64px 0px;
}
.map__link {
  height: 500px;
  width: 992px;
  border-radius: 7px;
  overflow: hidden;
}

@media(max-width:768px){
  .map{
    padding: 40px 15px;
    align-items: center;
  }
  .map__link {
    width: 100%;
    height: 400px;
  }
}

@media(max-width:375px){
  .map{
    padding: 30px 15px;
    min-height: auto;
  }
  .map__link {
    height: 300px;
  }
}

