.content {
  min-height: 500px;
  background-color: black;
  padding: 96px 64px 70px;
}
.content__heading {
  font-size: 36px;
  color: #f70;
  font-weight: bold;
  margin-bottom: 54px;
}
.content__subHeading {
  font-size: 36px;
  color: #f70;
  font-weight: bold;
  margin: 32px 0 64px;
  line-height: 1.25;
  word-spacing: 0.9rem;
}
.content__description {
  font-size: 18px;
  color: white;
}
.content__description--bold {
  font-weight: bold;
}
.content__description--space {
  margin-top: 64px;
}
.content__gradientLine {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, #f70, transparent);
  margin: 34px 0;
}
.content__itemTitle {
  font-size: 30px;
  color: #f70;
  font-weight: bold;
  margin-bottom: 64px;
}
.content__ending {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 64px;
}

/* RESPONSIVENESS - TABLET */
@media (max-width: 768px) {
  .content__subHeading {
    text-align: justify;
  }
  .content__description {
    text-align: justify;
  }
}

/* RESPONSIVENESS - MOBILE */
@media (max-width: 378px) {
  .content__heading {
    font-size: 30px;
  }
  .content__subHeading {
    font-size: 30px;
  }
  .content {
    padding: 30px;
  }
}
