.blog{
    background-color: black;
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    padding-top: 65px;
}
.blog__title{
    font-size: 72px;
    color: #df954e;
    font-weight: 700;
    margin-bottom: 8px;
}
.blog__subTitle{
    font-size: 20px;
    color: #EAB308;
    max-width: 630px;
    text-align: center;
    letter-spacing: 0.025em;
    font-weight: 500;
}