.blog{
    background-color: black;
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid white;
    padding-top: 65px;
}
.blog__title{
    font-size: 72px;
    color: #df954e;
    font-weight: bold;
    margin-bottom: 16px;
}
.blog__subTitle{
    font-size: 20px;
    color: #EAB308;
    /* max-width: 630px; */
    /* text-align: center; */
    /* letter-spacing: 0.025em; */
    /* font-weight: 500; */

    text-align: center;
    margin: 0px 112px;
    max-width: 672px;
}