.article{
    height: 886.75px;
    background-color: black;
    padding: 64px 96px 144px ;
}
.article__title{
    font-size: 32px;
    font-weight: 700;
    color:  #EAB308;
    margin-bottom: 48px;
}
.article__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 582.5px;
    width: 100%;
    /* background-color: green; */
    gap: 45px;
}
.article__item{
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}
.article__item--shadow:hover{
     box-shadow:
    0 10px 31px -5px rgba(255, 255, 255, 0.35),
    0 0 5px 0 rgba(255, 255, 255, 0.13);
}
.article__imageWrapper{
    height: 224px;
    width: 100%;
    /* border: 3px solid red; */
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.article__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.article__details{
    padding: 25px;
}
.article__detailsPerson{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    
}
.article__iconWrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}
.article__icon{
    font-size: 16.67px;
      color: #EAB308;
}
.article__personName{
        color: #dfab0b;
}
.article__postedDate{
    color: #91700b;
}
.article__itemTitle{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: white;
    margin-bottom: 8px;
}
.article__userRole{
        color: #c28957;
        margin-bottom: 14px;
        font-size: 14px;
}
.article__link{
    height: 40px;
    color:#EAB308;
    font-weight: 700;
    letter-spacing: 0.05em;
    border: 2px solid #EAB308;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 6px 20px;
    text-align: center;
}
.article__link:hover{
    background-color: #EAB308;
    color: black;
}