/* Block Element Method */

.hero{
position:relative;
height: 85vh;
width: 100%;
background-image: url("/storyHero.webp");
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}
.hero__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(3.5px);
    z-index: 10;
}
.hero__content{
    position: relative;
    z-index: 50;
}
.hero__title{
    font-size: 55px;
    color: #be6b22;
    font-weight:700;
    text-align: center;
     text-shadow: 1px 1px 3px #be6b22;
}
.hero__subtitle{
    font-size: 26px;
    color: #eab308;
    max-width: 820px;
    text-align: center;
    /* tracking-wide */
    letter-spacing: 0.025em;
    padding-top: 10px;
}
