.principles {
  background-color: black;
  min-height: 40vh;
  width: 100%;
  padding: 80px 20px;
}
.principles__title {
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
  color: #eab308;
  font-weight: bolder;
}

.principles__grid {
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.principles__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transition: transform 0.2s ease-in;
}
.principles__item:hover {
  transform: scale(1.05);
}
.principles__item:hover .principles__itemTitle {
  color: #f59e0b;
}
.principles__item:hover .principles__iconWrapper {
  box-shadow: 0 6px 10px -5px #eab308;
}
.principles__iconWrapper {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #d2863c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principles__icon {
  font-size: 2rem;
  color: white;
}
.principles__itemTitle {
  font-size: 24px;
  font-weight: bolder;
  color: #eab308;
}
.principles__description {
  color: var(--color-gray-300);
  text-align: center;
  max-width: 320px;
}
.principles__description--wide {
  max-width: 360px;
}

/* RESPONSIVENESS - TABLET */
@media (max-width: 768px) {
  .principles {
    padding: 30px 20px 10px;
  }
  .principles__grid {
    gap: 20px;
    min-height: auto;
  }
  .principles__item {
    justify-content: center;
    gap: 15px;
  }
  .principles__itemTitle {
    text-align: center;
    max-width: 200px;
  }
  .principles__description {
    max-width: 200px;
  }
  .principles__description--wide {
    max-width: none;
  }
}

/* RESPONSIVENESS - MOBILE */
@media (max-width: 378px) {
  
    .principles__grid{
      /* width: 100%; */
      grid-template-columns: repeat(1,1fr);
       /* grid-template-rows: repeat(3, auto); */
    }
     .principles {
    padding: 40px 0px;
  }
  
}
