.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.hero__title {
  font-size: 60px;
  color: var(--color-orange-400);
  font-weight: bold;
  margin-bottom: 10px;
}
.hero__subTitle {
  font-size: 20px;
  color: var(--color-gray-300);
  max-width: 672px;
  text-align: center;
  margin-bottom: 20px;
}

/* /RESPONSIVENESS-TABLET */
@media(max-width:768px){
  .hero__title{
    font-size: 48px;
  }
}
.hero__linkWrapper {
  display: flex;
  gap: 18px;
  padding: 16px;
}
.hero__productLink {
  background-color: #eab308;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 12px 24px;
  border-radius: 7px;
}
.hero__productLink:hover {
  background-color: #c76f44;
}
.hero__learnLink {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 7px;
  border: 2px solid #be6b22;
}
.hero__learnLink:hover {
  background-color: var(--color-gray-800);
}
