.products {
  padding: 36px;
  background-color: black;
}
.products__categorieWrapper {

  padding: 32px;
  display: flex;
  justify-content: center;
 
}
.products__categorieBtn{
     display: flex;
  justify-content: space-around;
    background-color: var(--color-gray-800);
    border-radius: 7px;
    padding: 4px;
    width: fit-content;
}
.products__button {
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 7px;
  cursor: pointer;
}
.products__button--active{
    background-color: #eab308;
    color: black;
}
.products__button-passive{
    background-color: var(--color-gray-800);
  color: var(--color-gray-300);
}



.products__imagesWrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
    padding: 32px;
}
.products__empty{
    grid-column: span 3;
  column-span: all;
  display: flex;
  justify-content:center;
  align-items: center;
  color: var(--color-gray-300);
  font-size: 40px;
  font-weight: 500;
  padding: 25px;
}
.products__item{
  background-color: #eab308;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  height: 240px;
}