.body {
  min-height: 100vh;
  background-color: black;
}
.mainDiv {
  padding: 50px 20px;
}
.arrowDiv{
    font-weight: 500;
    color: #eab308;
    margin-bottom: 30px;
    /* padding-left: 30px; */
}
.prev {
  display: flex;
  align-items: center;
}
.arrow{
    font-size: 30px;
}
.arrowDiv:hover{
    color: #ddbd5e;
}


.secondDiv {
  min-height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px;
  
}

/* IMAGE */
.imageDiv {
  /* background-color: blue; */
  /* grid-column: 1; */
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: space-between;
  border-radius: 15px;
  /* padding: 25px */
  /* padding:25px 0; */

  
}
.firstImage {
  width: 512px;
  height: 384px;
  /* background-color: brown; */
  border-radius: 15px;
}
.productImage{
  
     border-radius: 15px;
}
.smallImageDiv {
  width: 512px;
  height: 90px;
  background-color: black;
  /* margin-top: 20px; */
   border-radius: 5px;
}
.smallImage{
    height: 90px;
    width: 90px;
     border-radius: 5px;
     border: 2px solid #f4ce0f;
}
/* DESCRIPTION */
.descriptionDiv {
  background-color: black;
  /* grid-column: 1; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.productHeading {
  color: #af5600;
  font-size: 36px;
  font-weight: bold;
}
.descriptionHeading {
  color: #c28957;
  font-size: 20px;
  font-weight: bold;
}
.description {
  font-size: 18px;
     color: var(--color-gray-300);
     margin-top: 15px;
}
.learnBtn {
  display: flex;
  align-items: center;
  color: #eab308;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 32px;
  border: 2px solid #eab308;
  width: fit-content;
  border-radius: 8px;
  column-gap: 10px;
   margin-top: 40px;
}
.learnBtn:hover {
  color: black;
  background-color: #eab308;
 
}
.msgIcon {
  font-size: 20px;
}
/* .three *+* {
    margin-top: 15px;
} */


/* SIMILAR PRODUCTS */
.similarProducts{
    /* height: 40vh; */
    /* width: 100%; */
    /* background-color: aqua; */
    padding: 60px 25px;
}

.smHeadDiv{
  display: flex;
  justify-content: space-between;
  /* font-weight: bold; */
}
.secondHeaderDiv{
  display: flex;
  align-items: center;
  gap:7px;
  

}
.link{
  border-radius: 100%;
  background-color: #eab308;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smHeading{
  color: #eab308;
  font-size: 30px;
  font-weight: bold;
}
.smArrow{
  color: #d2863c;
  display: flex;
  align-items: center;

}
.smArrowIcon{
  font-size: 20px;
}


.similarOuterDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
    color: white;
    min-height: 68vh;
    /* height: 385px; */
    gap: 20px;
    border-radius: 10px;
    /* padding: 5px; */
    margin-top: 20px;
    
}
.smProductDiv{
  background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    width: 23vw;
    border: 1px solid transparent;
}
.smProductDiv:hover{
  border: 1px solid #eab2088a;
    transition: all 0.3s ease-in-out;
}
.innerImgDiv{
  margin: 20px 0px;
  width: 100%;
  /* height: auto; */
}
.innerImgOuterDiv{
  width: 100%;
  height: 255px;
}

.smDescription{
     display: -webkit-box;
    -webkit-line-clamp: 2;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-align: center; */
    /* max-width:50px; */
        color: #d2863c;
}
.smdesc{
  background-color: #1f1e1e;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 25px;
  border-radius: 15px;
}
.innerName{
  text-align: center;
      color: #eab308;
      font-size: 20px;
      font-weight: bold;
}

